<% if signed_in? %>
  <% provide(:title, @user.name) %>
  <div class="row">
    <aside class="span4">
      <section>
        <h1>
          <%= gravatar_for @user %>
          <%= @user.name %>
        </h1>
      </section>
      <section>
        <%= render 'shared/item_form' %>
      </section>
    </aside>

    <div class="span8">
      <a id="uncompleted-button">To do</a>
      <a id="completed-button">Completed</a>
      <div id="uncompleted">
        <h3><%= pluralize(@uncompleted.count, "item") %> left to do</h3>
        <% if @uncompleted.count == 0 %>
          <section><p>You have nothing scheduled.</p></section>
        <% else %>
          <section>
            <ul class="items">
              <%= render @uncompleted %>
            </ul>
          </section>
        <% end %>
      </div>

      <div id="completed">
        <h3><%= pluralize(@completed.count, "item") %> completed</h3>
        <% if @completed.count == 0 %>
          <section><p>Nothing is completed yet.</p></section>
        <% else %>
          <section>
            <ul class="items">
              <%= render @completed %>
            </ul>
          </section>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div id="home">
    <div class="reason">
      <h2>Create.</h2>
      <p>Tasks are easy to add so you can get started right away.</p>
      <%=image_tag("preview1.png", alt: "Preview of todolist", id: "preview1") %>
    </div>

    <div class="reason">
      <h2>Follow through.</h2>
      <p>Receive reminders before tasks are due.</p>
      <%=image_tag("preview2.png", alt: "Preview of reminder") %>
    </div>

    <div class="reason">
      <h2>Share</h2>
      <p>Motivate each other by sharing your lists.</p>
      <%=image_tag("preview3.png", alt: "Preview of sharing") %>
    </div>
  </div>
<% end %>
