<div class="row">
  <aside class="span5">
    <% provide(:title, @user.username) %>
    <h1><%= @user.username></h1>
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <br>
      <h1><%= @user.email %></h1>
    </section>
  </aside>
</div>
<!-- <h1> -->
<!--   <%= gravatar_for @user %> -->
  <!-- <%= @user.name %> -->
<!-- </h1> -->

<!-- <p> -->
  <!-- <b>Name:</b> -->
  <!-- <%= @user.name %> -->
<!-- </p> -->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
