<li>
  <span class="name"><%= item.name %></span>
  <br />
  <span class="content"><%= item.content %></span>
  <span class="due_date"><%= item.due_date %></span><br />
  <% if current_user?(item.user) %>
    <%= link_to "\u2713", complete_item_path(item), :method => :put %>
    <%= link_to "X", item, method: :delete,
                           data: { confirm: "Are you sure you want to delete this item?" },
                           title: item.content %>
  <% end %>                                        
</li>
