<li>
  <% if current_user?(item.user) %>
    <span class="name">
      <% if completed?(item) %>
        <%= item.name %>
      <% else %>
        <%= best_in_place item, :name %>
      <% end %>
    </span>
    <br />
    <span class="content">
      <% if completed?(item) %>
        <%= item.content %>
      <% else %>
        <%= best_in_place item, :content %>
      <% end %>
    </span>
    <% if !completed?(item) %>
      <%= link_to "\u2713", complete_item_path(item), :method => :put %>
      <%= link_to "X", item, method: :delete,
                                       data: { confirm: "This item is not completed yet.\n\nAre you sure you want to delete this item?\n" },
                                       title: item.content %>
    <% else %>
      <%= link_to "X", item, method: :delete %>
    <% end %>
  <% end %>
</li>
