
  <% if current_user?(item.user) %>
    <% if completed?(item) %>
      <div class="accordion-group span9">
        <div class="accordion-heading">
          <a class="accordion-toggle" >
            <span class="name span8 copy_bestinplace"><%= item.name %></span>
            <%= link_to "X", item, method: :delete, class: "function_link" %>
          </a>
        </div>
        <div class="accordion-body">
          <div class="accordion-inner">
            <span class="content span8 copy_bestinplace"><%= item.content %></span>
          </div>
        </div>
      </div>
    <% else %>
      <div class="accordion-group span9">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="<%="##{item.id}" %>" >
            <span class="span8"><%= best_in_place item, :name, inner_class: "input_textbox" %></span>
            <%= link_to "\u2713", complete_item_path(item), method: :put, class: "function_link" %>
            <%= link_to "X", item, method: :delete, class: "function_link",
                                       data: { confirm: "This item is not completed yet.\n\nAre you sure you want to delete this item?\n" },
                                       title: item.content %>
          </a>
        </div>
        <div id="<%= "#{item.id}" %>" class="accordion-body collapse in">
          <div class="accordion-inner">
            <p class="content span8"><%= best_in_place item, :content, inner_class: "input_textbox" %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>




