<div class="row">
  <div class="span6 offset3">
    <%= form_for(@todo) do |f| %>
      <% if @todo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

          <ul>
          <% @todo.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :content %><br />

      <%= f.text_field :content %>
      <%= f.label :user_id %><br />

      <%= f.number_field :user_id %>
      <%= f.label :due_date %><br />
      <%= f.date_select :due_date %>

      <%= f.submit "Create my Todo", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>